
body { 
    font-family: Arial; 
    background:#f5f5f5; 
    margin:0; padding:20px; 
         background: linear-gradient(to right, #74ebd5, #ACB6E5);
}
h2 { 
    text-align:center; 
}
table { 
    width:100%; 
    border-collapse: collapse; 
    margin-top:20px; 
}
th, td { 
    border:1px solid #ccc; 
    padding:10px; 
    text-align:center; 
}
th { 
    background:#2563eb; 
    color:white; 
}
button { 
    padding:5px 10px; 
    border:none; 
    border-radius:5px; 
    cursor:pointer; 
}
.btn-delete { 
    background:#dc2626; 
    color:white; 
}
.btn-edit { 
    background:#2563eb; 
    color:white; 
}
.logout-btn { 
    position: fixed; 
    top: 15px; right: 15px; 
    padding: 10px 15px; 
    background: #dc2626; 
    color: #fff; 
    border-radius: 10px; 
    border: none; 
    cursor: pointer; 
    text-decoration:none; 
}

#addUserForm { 
    margin-top:20px; 
    display:flex; gap:10px; 
    justify-content:center; 
}
#addUserForm input, #addUserForm select { 
    padding:5px; 
    border-radius:5px; 
    border:1px solid #ccc; 
}
#addUserForm button { 
    background:#16a34a; 
    color:white; 
}

.stats { 
    text-align:center; 
    margin-top:20px; 
    font-weight:bold; 
}
